#main { 
text-align: center;
font-family: 'Roboto', sans-serif;
background: #cecece;
margin-top: 0;
margin-bottom: 0;
margin-left: 100px;
margin-right: 100px;
padding: 100px;
}
#title {
margin-left: 50px;
margin-right: 50px;
padding-top: 10px;
padding-bottom: 10px
}
p {
padding-bottom: 20px;
}
#img-div {
border: 50px solid whitesmoke;
background: white;
margin: auto;
padding: 40px;

}
#image {
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}
#image:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
#img-caption {
  padding-top: 20px;
}
ul {
text-align: center;
display: inline-block;
}
ul li{
text-align: justify;
margin-left: 350px;
margin-right: 350px;
line-height: 30px;
}
#tribute-link {
font-size: 27px;
}